


.small-table {
    font-size: 14px; /* Establece el tamaño de fuente deseado */
    max-width: 500px; /* Establece el ancho máximo deseado */
    margin: 0 auto; /* Centra horizontalmente la tabla dentro de su contenedor */
}
  